@charset "UTF-8";
@import url(./fonts.css);
@import url(./reset.css);
#skip {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#skip li {
  width: 100%;
}

#skip li a {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 0;
  font-size: 0;
}

#skip li a:focus {
  line-height: 50px;
  font-size: 20px;
}

#wrap {
  z-index: 1;
  position: relative;
  width: 100%;
}

#wrap #header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

#wrap #header .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #header .container .gap {
  margin: 0 15px;
}

#wrap #header .container .gap .wrap {
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #header .container .gap .wrap #logo {
  width: auto;
  height: 100%;
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #header .container .gap .wrap #logo h1 {
  margin: auto;
}

#wrap #header .container .gap .wrap #logo h1 a img {
  width: auto;
  height: 26px;
}

#wrap #header .container .gap .wrap #nav-wrap {
  height: 100%;
}

#wrap #header .container .gap .wrap #nav-wrap #nav {
  height: 100%;
  display: inline-block;
}

#wrap #header .container .gap .wrap #nav-wrap #nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #header .container .gap .wrap #nav-wrap #nav ul li {
  height: 100%;
  margin: 0 20px;
}

#wrap #header .container .gap .wrap #nav-wrap #nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 72px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#wrap #header .container .gap .wrap #nav-wrap #nav ul li a:hover {
  color: black;
}

#wrap #header .container .gap .wrap #nav-wrap #nav ul li a span {
  margin: auto;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;
}

#wrap #header .container .gap .wrap #nav-wrap #aside {
  display: inline-block;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul li {
  margin: 0 20px;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul li:nth-child(2) {
  margin: 0 0 0 20px;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul li a {
  color: #232323;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul li a:hover {
  color: #000;
}

#wrap #header .container .gap .wrap #nav-wrap #aside ul li a i {
  font-size: 13px;
}

#wrap #main {
  z-index: 2;
  position: relative;
}

#wrap #main #section1 {
  width: 100%;
}

#wrap #main #section1 .container {
  width: 100%;
  margin: 0 auto;
}

#wrap #main #section1 .container .gap {
  margin: 0;
}

#wrap #main #section1 .container .gap .wrap {
  width: 100%;
  height: 100vh;
  /* 반응형 너비 vw  높이 vh */
  background: #99c;
  /* 임시배경컬러 */
}

#wrap #main #section2 {
  width: 100%;
}

#wrap #main #section2 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section2 .container .gap {
  margin: 0;
}

#wrap #main #section2 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #cc9;
  /* 임시배경컬러 */
}

#wrap #main #section3 {
  width: 100%;
}

#wrap #main #section3 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section3 .container .gap {
  margin: 0;
}

#wrap #main #section3 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #c9c;
  /* 임시배경컬러 */
}

#wrap #main #section4 {
  width: 100%;
}

#wrap #main #section4 .container {
  width: 100%;
  margin: 0 auto;
}

#wrap #main #section4 .container .gap {
  margin: 0;
}

#wrap #main #section4 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #9cc;
  /* 임시배경컬러 */
}

#wrap #main #section5 {
  width: 100%;
}

#wrap #main #section5 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section5 .container .gap {
  margin: 0;
}

#wrap #main #section5 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #cc9;
  /* 임시배경컬러 */
}

#wrap #main #section6 {
  width: 100%;
}

#wrap #main #section6 .container {
  width: 100%;
  margin: 0 auto;
}

#wrap #main #section6 .container .gap {
  margin: 0;
}

#wrap #main #section6 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #9c9;
  /* 임시배경컬러 */
}

#wrap #main #section7 {
  width: 100%;
}

#wrap #main #section7 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section7 .container .gap {
  margin: 0;
}

#wrap #main #section7 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #cc9;
  /* 임시배경컬러 */
}

#wrap #main #section8 {
  width: 100%;
}

#wrap #main #section8 .container {
  width: 100%;
  margin: 0 auto;
}

#wrap #main #section8 .container .gap {
  margin: 0;
}

#wrap #main #section8 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #c9c;
  /* 임시배경컬러 */
}

#wrap #main #section9 {
  width: 100%;
}

#wrap #main #section9 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section9 .container .gap {
  margin: 0;
}

#wrap #main #section9 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #cc9;
  /* 임시배경컬러 */
}

#wrap #main #section10 {
  width: 100%;
}

#wrap #main #section10 .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #main #section10 .container .gap {
  margin: 0;
}

#wrap #main #section10 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #9cc;
  /* 임시배경컬러 */
}

#wrap #main #section11 {
  width: 100%;
}

#wrap #main #section11 .container {
  width: 100%;
  margin: 0 auto;
}

#wrap #main #section11 .container .gap {
  margin: 0;
}

#wrap #main #section11 .container .gap .wrap {
  width: 100%;
  height: 700px;
  /* 임시높이 */
  background: #cc9;
  /* 임시배경컬러 */
}

#wrap #footer {
  z-index: 1;
  position: relative;
  width: 100%;
}

#wrap #footer .container {
  width: 1170px;
  margin: 0 auto;
}

#wrap #footer .container .gap {
  margin: 0 15px;
}

#wrap #footer .container .gap .wrap {
  width: 100%;
  height: 700px;
  background: #000;
}
