@import url(./fonts.css);
@import url(./reset.css);
#skip {
  z-index:2;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  li {
    width:100%;
    a {
      display:block;
      width:100%;      
      background:#000;
      color:#fff;
      text-align:center;
      line-height:0;
      font-size:0;
      &:focus {
        line-height:50px;
        font-size:20px;
      }
    }
  }
}
#wrap {
  z-index:1;
  position:relative;
  width:100%;
  #header {
    z-index:3;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:72px;    
    background:#fff;
    box-shadow:0 2px 3px rgba(0,0,0, .15);
    transition:all .3s;
    &.down {
      top:-73px; 
      height:60px;
    }
    &.event {
      top:0; 
      height:60px;
    }


    .container {
      position:relative;
      width:1170px;
      margin:0 auto;
      height:100%;
      .gap {
        margin:0 15px;
        height:100%;
        .wrap {
          width:100%;
          height:100%;
          display:flex;
          #logo {
            width:auto;
            height:100%;
            margin:0 auto 0 0;
            display:flex;            
            h1 {
              margin:auto;
              a {
                img {
                  width:auto;
                  height:26px;
                }
              }
            }
          }
          #nav-wrap {
            height:100%;
           #nav {
            height:100%;
             display:inline-block;
            > ul {
              height:100%;
               display:flex;
              > li {
                height:100%; 
                padding:0 20px;  
                // 메인메뉴             
                > a {
                  display:flex;
                  height:100%;
                  color:rgba(0,0,0, .6);
                  transition:all .3s ease-in-out;
                  &:hover {
                    color:rgba(0,0,0, 1);
                  }
                  span {
                    margin:auto;
                    font-family:'Montserrat';
                    font-size:12px;
                    font-weight:600;
                  }           
                 }

                // 서브메뉴
                // 서브메뉴1356
                 .sub1356 {
                   display:none;
                   position:absolute;
                   top:72px;
                   left:0;
                   width:100%;
                   background:#232323;
                   .sub-gap {
                     padding:30px 40px;
                     ul  {
                       display:flex;
                       li {
                         width:25%;
                         dl {
                           line-height  :28px;
                           font-family:'Montserrat';
                           dt {
                             a {
                              color:#fff;
                              font-size:12px;
                              font-weight:500;
                             }
                           }
                           dd {
                             transition:all .3s ease-in-out;
                             a{
                              color:#9d9d9d;
                              font-size:12px;
                              transition:all .3s ease-in-out;
                              &:hover {
                                color:#fff;
                              }    
                             }
                             &:hover{
                              transform:translateX(7px);
                              font-weight:500;
                             }
                           }
                         }
                       }
                     }
                   }
                 }
                // 서브메뉴24
                 .sub24 {
                   position:absolute;
                   top:72px;
                   left:0;
                   width:220px;
                   background:#232323;
                    .sub-gap {
                      padding:15px 30px;
                       ul {
                         line-height:28px;
                         li {
                           
                           transition: all .3s ease-in-out;
                           a {
                             color:#9d9d9d;
                             font-size:12px;
                             transition: all .3s ease-in-out;
                             &:hover {
                               color:#fff;
                             }
                           }
                           &:hover {
                             transform:translateX(7px);
                             
                           }

                          //  서브서브
                           .subsub {
                             position: absolute;                             
                             left:100%;
                             width:220px;
                             background:#232323;
                             margin-left:1px;
                             .subsub-gap {
                              padding:15px 30px;
                               ul {
                                 line-height:28px;
                                 li {
                                   a {
                                     color:#9d9d9d;
                                     font-size:12px;
                                   }
                                 }
                               }
                             }
                           }
                           .subsub1 {
                             display:none;
                             top:calc(28px*0);
                           }
                           .subsub2 {
                             display:none;
                             top:calc(28px*1);
                           }
                           .subsub3 {
                             display:none;
                             top:calc(28px*2);
                           }
                           .subsub4 {
                             display:none;
                             top:calc(28px*3);
                           }
                           .subsub5 {
                             display:none;
                             top:calc(28px*4);
                           }


                         }
                       } 
                    }
                 }
                 .sub1 {display:none;}
                 .sub2 {display:none;}
                 .sub3 {display:none;}
                 .sub4 {display:none;}
                 .sub5 {display:none;}
                 .sub6 {display:none;}

               }
              > li:nth-child(2),
              > li:nth-child(4) {
                position: relative;
              }

             }
           } 
           #aside {
             display:inline-block;
             ul {
               display:flex;
               li {
                 margin:0 20px;
                 &:nth-child(2) {
                   margin:0 0 0 20px;
                 }
                 a {
                   color:#232323;
                   transition:all .3s ease-in-out;
                   &:hover {
                     color:#000;
                   }
                   i {
                    font-size:13px;
                   }
                 }
               }
             }
            } 
          }
        } 
      }
    }
  }
  #main {
    z-index:2;
    position:relative;
    #section1 {
      width:100%;
      .container {
        width:100%;
        margin:0 auto;
        cursor:url(../img/icon-move-light.png), auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:100vh;  /* 반응형 너비 vw  높이 vh */
            background:#99c; /* 임시배경컬러 */
            .slide-container {
              position: relative;
              width:100%;
              .slide-view {
                z-index:1;
                position: relative;
                width:100%;
                overflow:hidden;
                .slide-wrap {
                  width:500%;
                  display:flex;
                  margin-left:-100%;
                  position:relative;
                  .slide {
                    width:100%;
                    height:100vh;
                    display:flex;
                    position:relative;
                    .title{
                      z-index:2;
                      position:relative;
                      margin:auto;
                      color:#fff;
                      text-align:center;
                      user-select:none;
                      h3 {
                        font-size:18px;
                        font-family:'Roboto';
                      }
                      h2 {
                        font-size:70px;
                        font-weight:700;
                        padding:30px 0;
                      }
                      a {
                        color:#232323;
                        font-size:12px;
                        font-weight:600;
                        display:inline-block;
                        width:190px;
                        height:40px;
                        line-height:36px;
                        background:rgba(255,255,255, 1);
                        border:2px solid #fff;
                        border-radius:20px;
                        text-transform:uppercase;
                        transition:all .3s ease-in-out;
                        &:hover {
                          background:rgba(255,255,255, 0);
                          color:#fff;
                        }
                      }
                    }
                    &::after {
                      content:'';
                      display:block;
                      position:absolute;
                      top:0;
                      left:0;
                      width:100%;
                      height:100%;
                      background:url(../img/homepage-5-slider-img-1-1.jpg) no-repeat 50% 50%;
                      background-size:cover;
                      z-index:1;
                      filter:brightness(50%) contrast(95%);
                    }
                  }
                  .slide1 {
                    &::after{
                      background-image:url(../img/homepage-5-slider-img-1-1.jpg);
                    }                    
                  }
                  .slide2 {
                    &::after{
                      background-image:url(../img/homepage-5-slider-img-2-1.jpg);
                    }
                  }
                  .slide3 {
                    &::after{
                      background-image:url(../img/homepage-5-slider-img-3-1.jpg);
                    }
                  }
                }
              }
              .page-btn-wrap {
                position: absolute;
                bottom:40px;
                left:0;
                z-index:2;
                width:100%;
                height:10px;
                text-align:center;
                span {
                  display: inline-block;
                  margin:0 6px;
                  width:10px;
                  height:10px;
                  a {
                    display: block;
                    width:100%;
                    height:100%;
                    border-radius:50%;
                    background:rgba(255,255,255, .3);
                    transition:all .3s;
                    &.on {
                      background:rgba(255,255,255, 1);
                    }
                  }
                }
              }
            }

          } 
        }
      }
    }
    #section2 {
      width:100%;
      padding:130px 0;
      background:#f7f7f7;
      overflow: hidden;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            .title {
              animation:sec2Title 1s ease-in-out both;
              padding:0 0 90px 0;
              text-align:center;
              h2{
                font-size:12px;
                color:#939393;
                padding:0 0 15px 0;
                font-family:'Montserrat';
                font-weight:600;
              }
              p {
                color:#232323;
                font-size:25px;
                font-family:'Roboto';
                strong {
                  vertical-align:baseline;
                }
              }
              

            }  
            @keyframes sec2Title {
                0% {transform:translateY(200px);opacity:0;}
              100% {transform:translateY(0);opacity:1;}
            }          
            .content {
              ul {
                display: flex;
                li {
                  width:33.333%;
                  .col-gap {
                    margin:0 15px;
                    .contnents {
                      width:100%;
                      background:#fff;
                      .top {
                        width:100%;
                        img {
                          width:100%;
                        }
                      }
                      .bottom{
                        padding:40px;
                        text-align: center;
                        h3 {
                          font-family:'Montserrat';
                          font-weight:600;
                          font-size: 14px;
                          color:#232323;
                         
                        }
                        p {
                          color:#6f6f6f;
                          font-size:14px;
                          font-family:'Roboto';
                          line-height:170%;
                          padding:20px 0 30px 0;
                        }
                        > span {
                          display: inline-block;
                          width:205px;
                          height:38px;

                          a {
                            display: flex;
                            width:100%;
                            height:100%;
                            border:2px solid #000;
                            border-radius:19px; 
                            color:#939393;
                            background:rgba(255,255,255, 1); 
                            transition:all .3s;
                            &:hover {
                              background:rgba(0,0,0, 1); 
                              color:#fff;
                            }
                            span {
                              margin:auto;
                              font-weight:600;
                              display: flex;
                              strong {
                                margin:auto;
                              }
                              i {
                                margin:auto auto auto 7px;
                                font-size:18px;
                                
                              }
                            }                         
                          }
                        }
                      }
                    }
                  }
                }

                li:nth-child(1) {animation:sec2Col1 1.2s ease-in-out both;}
                li:nth-child(2) {animation:sec2Col2 1.4s ease-in-out both;}
                li:nth-child(3) {animation:sec2Col3 1.6s ease-in-out both;}

                @keyframes sec2Col1 {
                  0% {transform:translateY(1000px);opacity:0;}
                  100% {transform:translateY(0);opacity:1;}
                }
                @keyframes sec2Col2 {
                  0% {transform:translateY(1000px);opacity:0;}
                  100% {transform:translateY(0);opacity:1;}
                }
                @keyframes sec2Col3 {
                  0% {transform:translateY(1000px);opacity:0;}
                  100% {transform:translateY(0);opacity:1;}
                }


              }
            }            

          } 
        }
      }
    }
    #section3 {
      width:100%;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#c9c; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section4 {
      width:100%;
      .container {
        width:100%;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#9cc; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section5 {
      width:100%;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#cc9; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section6 {
      width:100%;
      .container {
        width:100%;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#9c9; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section7 {
      width:100%;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#cc9; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section8 {
      width:100%;
      .container {
        width:100%;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#c9c; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section9 {
      width:100%;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#cc9; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section10 {
      width:100%;
      .container {
        width:1170px;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#9cc; /* 임시배경컬러 */
          } 
        }
      }
    }
    #section11 {
      width:100%;
      .container {
        width:100%;
        margin:0 auto;
        .gap {
          margin:0;
          .wrap {
            width:100%;
            height:700px; /* 임시높이 */
            background:#cc9; /* 임시배경컬러 */
          } 
        }
      }
    }
   
  }
  #footer { 
    z-index:1;
    position:relative;
    width:100%;
    .container {
      width:1170px;
      margin:0 auto;
      .gap {
        margin:0 15px;
        .wrap {
          width:100%;
          height:700px;
          background:#000;
        } 
      }
    }
  }
}