@import url(./fonts.css);
@import url(./reset.css);
#root {
  width: 100%;
}

#root #kurly {
  width: 650px;
  margin: 0 auto;
}

#root #kurly .title {
  padding: 0;
  text-align: center;
}

#root #kurly .title h1 img {
  width: 150px;
}

#root #kurly .title h2 {
  padding: 40px 0 0 0;
  font-size: 32px;
  font-weight: 600;
  color: #5f0080;
}

#root #kurly .content {
  width: 100%;
  padding: 20px 0 0 0;
}

#root #kurly .content h4 {
  border-bottom: 2px solid #000;
  width: 100%;
  text-align: right;
  padding: 0 0 10px 0;
}

#root #kurly .content h4 span {
  color: #666;
  font-size: 12px;
}

#root #kurly .content h4 span i {
  color: #c00;
  font-size: 16px;
  margin: 0 2px 0 0;
}

#root #kurly .content ul {
  width: 100%;
  padding: 10px 0 0 0;
}

#root #kurly .content ul li .gap {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root #kurly .content ul li .gap .label-box {
  padding: 0 0 0 20px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root #kurly .content ul li .gap .label-box span {
  margin: auto auto auto 0;
  color: #111;
  font-size: 15px;
  font-weight: 600;
}

#root #kurly .content ul li .gap .label-box span i {
  color: #c00;
  font-size: 15px;
  margin: 0 0 0 2px;
}

#root #kurly .content ul li .gap .input-box {
  margin: auto 28px auto auto;
  width: 490px;
  padding: 0 130px 0 0;
  position: relative;
}

#root #kurly .content ul li .gap .input-box .inputText {
  padding: 0 15px 0 15px;
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#root #kurly .content ul li .gap .input-box .inputText::-webkit-input-placeholder {
  color: #bbb;
  font-size: 14px;
}

#root #kurly .content ul li .gap .input-box .inputText:-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
}

#root #kurly .content ul li .gap .input-box .inputText::-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
}

#root #kurly .content ul li .gap .input-box .inputText::placeholder {
  color: #bbb;
  font-size: 14px;
}

#root #kurly .content ul li .gap .input-box .inputText:focus {
  outline-offset: -1px;
  outline: 1px solid #666;
}

#root #kurly .content ul li .gap .input-box .inputText.addr {
  border: 1px solid #5f0080;
  color: #5f0080;
  cursor: pointer;
  position: relative;
}

#root #kurly .content ul li .gap .input-box .inputText.addr img {
  margin-top: -3px;
}

#root #kurly .content ul li .gap .input-box .w120-btn {
  width: 120px;
  height: 45px;
  border: 1px solid #5f0080;
  color: #5f0080;
  background: #fff;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
}

#root #kurly .content ul li .gap .input-box .w120-btn.phone {
  border: 1px solid #ccc;
  color: #ccc;
}

#root #kurly .content ul li .gap .input-box label input[type='radio'] {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
}

#root #kurly .content ul li .gap .input-box label input[type='radio']:checked {
  border: 6px solid #5f0080;
}

#root #kurly .content ul li .gap .input-box label span {
  margin: 10px;
  font-size: 15px;
}

#root #kurly .content ul li .gap .input-box label:nth-child(1) {
  margin: 0 auto 0 0;
}

#root #kurly .content ul li .gap .input-box label:nth-child(2) {
  margin: 0 auto 0 auto;
}

#root #kurly .content ul li .gap .input-box label:nth-child(3) {
  margin: 0 0 0 auto;
}

#root #kurly .content ul li .gap .input-box.radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
