@import url(./fonts.css);
@import url(./reset.css);

#root {
  width:100%;
  #kurly {
    width:650px;
    margin:0 auto;
    .title {
      padding:0;
      text-align:center;
      h1 {                
        img {
          width:150px;
        }
      }
      h2 {
        padding:40px 0 0 0;
        font-size:32px;
        font-weight:600;
        color:#5f0080;
      }
    }
    .content {
      width:100%;
      padding:20px 0 0 0;
      h4 {
        border-bottom:2px solid #000;
        width:100%;
        text-align:right;
        padding:0 0 10px 0;
        span {
          i {
            color:#c00;
            font-size:16px;
            margin:0 2px 0 0;
          }
          color:#666;
          font-size:12px;
        }
      }
      ul {
        width:100%;
        padding:10px 0 0 0;
        li {          
          .gap {
            padding:10px 0;
            display:flex;
            .label-box {
              padding:0 0 0 20px;
              width:160px;
              display:flex;
              span {
                margin:auto auto auto 0;
                color:#111;
                font-size:15px;
                font-weight:600;
                i {
                  color:#c00;
                  font-size:15px;
                  margin:0 0 0 2px;
                }
              }
              &.address {
                padding-top:20px;
                span {
                  margin:0 auto auto 0;
                }
              }
            }
            .input-box {
              margin:auto 28px auto auto;
              width:490px;
              padding:0 130px 0 0;
              position:relative;

              p {
                display:block;
                margin:7px 0 0 0;                
                font-size:12px;
                color:#666;                
                &::before {
                  content:'\2022';  /* 엔티티코드 */
                  display:inline-block;
                  margin:0 3px 0 0;
                }
                &.red {
                  color:#b3130b;
                }
                &.red::before {
                  content:'\2715';  /* 엔티티코드 */
                  display:inline-block;
                  margin:0 3px 0 0;
                  color:#b3130b;
                }
                &.green {
                  color:#0f851a;
                }
                &.green::before {
                  content:'\2713';  /* 엔티티코드 */
                  display:inline-block;
                  margin:0 3px 0 0;
                  color:#0f851a;
                }
              }
              > span{                
                display: block;
                user-select:none;
                &.address-info{
                  margin:10px 0 0 0;                
                  font-size:12px;
                  color:#666;
                }
              }
              .inputText {
                padding:0 15px 0 15px;
                width:100%;
                height:45px;
                background:#fff;
                border:1px solid #ccc;
                border-radius:3px;
                &::placeholder {
                  color:#bbb;
                  font-size:14px;
                }
                &:focus {
                  outline-offset:-1px;
                  outline:1px solid #666;
                }
                &.addr {
                  border:1px solid #5f0080;
                  color:#5f0080;
                  cursor:pointer;
                  position:relative; 
                  img {
                    margin-top:-3px;
                  }
                  span{
                    letter-spacing:-1.5px;
                    margin:0 0 0 -5px;
                  }
                  &.on{
                    position:absolute;
                    top:0;
                    right:0;
                    width:120px;
                    height:45px;
                  }                                                   
                }
              }
              .w120-btn {
                width:120px;
                height:45px;
                border:1px solid #5f0080;
                color:#5f0080;
                background:#fff;                
                font-size:15px;
                position:absolute;
                right:0;
                top:0;
                border-radius:5px;
                cursor:pointer;
                &.phone{
                  border:1px solid #ccc;
                  color:#ccc;
                }
              }
              label {
                input[type='radio'] {
                  width:24px;
                  height:24px;
                  appearance:none;
                  border-radius:50%;
                  border:1px solid #ccc;
                  background:#fff;
                  &:checked {
                    border:6px solid #5f0080;
                  }
                }
                span {
                  margin:10px;
                  font-size: 15px;  
                  user-select:none;                
                }
                &:nth-child(1){margin:0 auto 0 0;}
                &:nth-child(2){margin:0 auto 0 auto;}
                &:nth-child(3){margin:0 0 0 auto;}
              }
              &.radio-box {
                display:flex;
              }

              
                

                ul {
                  display:flex;
                  width:100%;
                  height:45px;
                  border:1px solid #ccc;
                  background:#fff;
                  padding:0 25px;
                  &.on {
                    outline:1px solid #444;
                    outline-offset:-1px;
                  }
                  li {
                    height:100%;
                    padding:0;
                    input[type='text']{
                      width:100%;
                      text-align:center;
                      height:100%;
                      border:0;
                      &:focus {
                        outline:0;
                      }
                      &::placeholder {
                        text-align:center;
                        color:#ccc;
                        font-size:16px;
                      }
                    }
                    span {
                      font-size:16px;
                      color:#ccc;
                    }

                    &:nth-child(odd) {
                      width:30%;
                    }
                    &:nth-child(even) {
                      width:5%;
                      display:flex;
                      align-items:center;
                    }

                  }
                
              }

            }

          }

          hr {
            border:0;
            border-bottom:1px solid #333;
            width:100%;
            margin:20px 0;
          }

          &.service {
            .gap {
              height:auto;
              .label-box {
                height:auto;
                margin:0 auto auto 0;
                padding:0 0 0 20px;
              }

              .check-box {
                padding:0 0 0 0;
                width:100%;
                dl {
                  width:100%;
                  dt {
                    label {
                      display: block;
                      width: 100%;
                      input[type='checkbox'] {
                        width:24px;
                        height:24px;
                        appearance:none;
                        border-radius:50%;
                        background:url(../../img/ico_checkbox.svg) no-repeat 50% 50%;
                        background-size:24px 24px;
                        &:checked {
                          background-image:url(../../img/ico_checkbox_checked.svg);
                        }
                      }
                      span {
                        font-size:18px;
                        color:#444;
                        font-weight:500;
                      }
                    }
                    p {
                      padding:5px 0 0 34px;
                      font-size:12px;
                      color:#666;
                    }
                  }
                  dd {
                    margin:20px 0;
                    position:relative;
                    label {
                      z-index:1;
                      position:relative;
                      display: block;
                      width: 100%;
                      input[type='checkbox'] {
                        width:24px;
                        height:24px;
                        appearance:none;
                        border-radius:50%;
                        background:url(../../img/ico_checkbox.svg) no-repeat 50% 50%;
                        background-size:24px 24px;
                        &:checked {
                          background-image:url(../../img/ico_checkbox_checked.svg);
                        }
                      }
                      span {
                        font-size:15px;
                        line-height:24px;
                      }
                    }
                    > span {
                      position: absolute;
                      right:33px;
                      top:5px;
                      z-index:2;
                      font-size:14px;
                      a {
                        color:#5f0080;
                        i {
                          font-size:12px;
                        }
                      }
                    }

                    .sub-checkbox {
                        padding:10px 0 0 34px;
                        div {
                          padding:0 150px 0 0;
                          display:flex;
                          flex:row wrap;
                          label {
                            width:30%;
                          }
                        }
                        p {
                          margin:15px 0 0 34px;
                          padding:0 0 0 15px;                          
                          background:url(../../img/ico_sub_dot.svg) no-repeat 0 50%;
                          font-size:12px;
                          color:#5f0080;
                        }
                    }

                  }
                }
              }
            }
          }

        }  /* li end */
      }  /* ul end */
    }

    .button-box {
      padding:50px 0 100px 0;
      border-top:1px solid #ddd;
      text-align:center;
      button {
        width:250px;
        height:60px;
        background:#5f0080;
        border:0;
        color:#fff;
        font-weight:600;
        font-size:18px;
        border-radius:5px;
        cursor:pointer;
        transition:all .3s;
        &:hover {
          filter:brightness(120%);
        }
      }
    }
  }
}
