#wrap {width:1200px;height:700px;margin:0 auto;}
#wrap #header {width:100%;height:100px;display:flex;position:relative;z-index:3;}
#wrap #header .left-box {width:180px;height:100%;background-color:rgba(255,0,255, 1);}
#wrap #header .right-box {width:1020px;height:100%;background-color:rgba(0,0,255, 1);}
/* 네비게이션 */
#wrap #header .right-box #nav {width:700px;height:50px;background-color: brown;margin:25px 20px 25px auto;}
#wrap #header .right-box #nav > ul {width:100%;display:flex;height:100%;}
#wrap #header .right-box #nav > ul > li {width:25%;text-align:center;height:100%;}
#wrap #header .right-box #nav > ul > li > a {color:rgba(0,0,0, 1);font-size:15px;display:block;background:rgba(255,255,255, 1);height:100%;line-height:50px;}
#wrap #header .right-box #nav > ul > li > a:hover {color:rgba(255,255,255, 1);background:rgba(0,0,0, 1);}
#wrap #header .right-box #nav > ul > li > a.addHover {color:rgba(255,255,255, 1);background:rgba(0,0,0, 1);}

/* 서브메뉴 */
#wrap #header .right-box #nav > ul > li > .sub {width:100%;display:none;}
/* #wrap #header .right-box #nav > ul > li:hover > .sub {display:block;}  자바스크립트 & 제이쿼리
#wrap #header .right-box #nav > ul > li:focus > .sub {display:block;} */
#wrap #header .right-box #nav > ul > li > .sub ul {width:100%;}
#wrap #header .right-box #nav > ul > li > .sub ul li {width:100%;}
#wrap #header .right-box #nav > ul > li > .sub ul li a {display:block;width:100%;color:rgba(0,0,0, 1);background:rgba(240,240,240, 1);height:35px;line-height:35px;}
#wrap #header .right-box #nav > ul > li > .sub ul li a:hover {color:rgba(255,255,255, 1);background:rgba(0,0,0, 1);}


#wrap #main {width:100%;height:500px;position:relative;z-index:2;}
#wrap #main #section1 {width:100%;height:300px;background-color:rgba(0,255,255, 1);}
#wrap #main #section1 .slide-container {width:100%;}
#wrap #main #section1 .slide-container .slide-view {width:100%;overflow:hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {display:flex;width:500%;margin-left:-100%;position:relative;/* 렐러티브 */} /* 기차 5칸 */
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide  {width:100%;height:300px;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/wedding-img14.jpg) no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/wedding-img8.jpg)  no-repeat 50% 50%;background-size:cover;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/wedding-img9.jpg)  no-repeat 50% 50%;background-size:cover;}

/* CSS 애니메이션 : 슬라이드3개가 약 3초간격으로 1개씩 우측에서 좌측이로 부드럽게 이동하는 슬라이드
마지막에서는 다시 처음으로 롤링되는 캐러셀 슬라이드 구현 */
/* 애니메이션으로 이동하는 포지션을 뭘로 하느냐? */
/* position:relative; left 포지션이용 x축이동
transform:translateX, translateY  */

/* animation */
/* #wrap #main #section1 .slide-container .slide-view .slide-wrap {animation:애니메이션이름 시간(12s) 무한반복(infinite 인피니트);} */
/* #wrap #main #section1 .slide-container .slide-view .slide-wrap {animation:sec1Slide 12s infinite ease-in-out forwards;} */
/* 키프레임 애니메이션 구현 */
@keyframes sec1Slide {
     0% {left:   0%;}
    10% {left:   0%;}
    20% {left:-100%;}
    30% {left:-100%;}
    40% {left:-100%;}
    50% {left:-200%;}
    60% {left:-200%;}
    70% {left:-200%;}
    80% {left:-300%;}
    90% {left:-300%;}
   100% {left:-300%;}
}


#wrap #main #section2 {width:100%;height:200px;display:flex;}
#wrap #main #section2 .left-box {width:400px;height:100%;}
#wrap #main #section2 .left-box .left-gap {width:100%;height:100%;}
#wrap #main #section2 .left-box .left-gap .contents {width:100%;height:100%;padding:40px 0 0 0;position: relative;}
#wrap #main #section2 .left-box .left-gap .contents button {position:absolute;top:1px;height:40px;color:#000;font-size:14px;border:1px solid #ccc;width:100px;border-radius:5px 5px 0 0;}
#wrap #main #section2 .left-box .left-gap .contents button.notice-btn {background:#fff;left:10px;z-index:2;border-bottom:0;cursor:default;}
#wrap #main #section2 .left-box .left-gap .contents button.gallery-btn {background:#f0f0f0;left:110px;cursor:pointer;}

/* 갤러리버튼 클릭된 상태의 모양  */
#wrap #main #section2 .left-box .left-gap .contents button.notice-btn.addGallery {background:#f0f0f0;z-index:1;border-bottom:1px solid #ccc;cursor:pointer;}
#wrap #main #section2 .left-box .left-gap .contents button.gallery-btn.addGallery {background:#fff;z-index:2;border-bottom:0;cursor:default;}



#wrap #main #section2 .left-box .left-gap .contents .notice {width:100%;height:100%;background-color:#fff;border:1px solid #ccc;z-index:1;position: relative;}



#wrap #main #section2 .center-box {width:400px;height:100%;background-color:rgba(0,200,100, 1);}
#wrap #main #section2 .right-box {width:400px;height:100%;background-color:rgba(200,100,100, 1);}



#wrap #footer {width:100%;height:100px;display:flex;position:relative;z-index:1;}
#wrap #footer .left-box {width:180px;height:100%;background-color:rgba(200,0,200, 1);}
#wrap #footer .right-box {width:1020px;height:100%;}
#wrap #footer .right-box .top {width:100%;height:50%;background-color:rgba(0,150,200, 1);}
#wrap #footer .right-box .bottom {width:100%;height:50%;background-color:rgba(0,200,100, 1);}
